@font-face {
	font-family: 'roboto';
	src: url('fonts/RobotoSlab-Regular-webfont.eot');
	src: url('fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
				 url('fonts/RobotoSlab-Regular-webfont.ttf') format('truetype'),
				 url('fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

body, html {
	width:               100%;
	height:              100%;
	background-color:    white;
	margin:              0;

	background-image:    url('rPod.png'); /* Fallback */
	background-image:    -webkit-linear-gradient(to bottom, rgba(61, 126, 190, 0.75) 10%, rgba(48, 189, 236, 0.75) 25%, rgba(48, 189, 236, 0.75) 65%), url('rPod.png'); /* For Safari 5.1 to 6.0 */
	background-image:    -o-linear-gradient(to bottom, rgba(61, 126, 190, 0.75) 10%, rgba(48, 189, 236, 0.75) 25%, rgba(48, 189, 236, 0.75) 65%), url('rPod.png'); /* For Opera 11.1 to 12.0 */
	background-image:    -moz-linear-gradient(to bottom, rgba(61, 126, 190, 0.75) 10%, rgba(48, 189, 236, 0.75) 25%, rgba(48, 189, 236, 0.75) 65%), url('rPod.png'); /* For Firefox 3.6 to 15 */
	background-image:    linear-gradient(to bottom, rgba(61, 126, 190, 0.75) 10%, rgba(48, 189, 236, 0.75) 25%, rgba(48, 189, 236, 0.75) 65%), url('rPod.png'); /* Standard syntax */
	background-size:     auto 100%;
	background-repeat:   no-repeat;
	background-position: center;
	background-attachment: fixed;
}

html {
	/*min-width: 600px;*/
}

* {
	color:       white;
	font-family: 'roboto', Arial, sans-serif;
	text-align:  center;
}

#container {
	display:         flex;
	flex-direction:  column;
	justify-content: center;
	align-content:   center;
	padding:         4em 4em;
}

@media (max-width: 600px) {
	#container {
		padding: 2em;
	}

	#submit {
		display: block;
		margin: 0.3em auto 0 auto;
	}
}

#header {
	font-size: 3em;
}

.flex-center {
	margin-left:  auto;
	margin-right: auto;
}

#email-pitch {
	margin-left:   auto;
	margin-right:  auto;
	font-size:     2em;
	margin-bottom: 0.25em;
}

#email-container {
	display:        flex;
	flex-direction: column;
	margin:         auto;
	margin-top:     0px;
}

#form {

}

#submit {
	background-color: rgba(0, 0, 0, 0);
	border:           5px solid white;
	border-radius:    10px;
	font-size:        1.5em;
	padding:          0.25em 0.5em;
}

#email {
	background-color: rgba(0, 0, 0, 0);
	border:           5px solid white;
	border-radius:    10px;
	font-size:        1.5em;
	padding:          0.25em 0.5em;
	margin-right:     0.3em;
}
